.wrapper {
  background-color: #eeeeee;
  width: 100%;
  height: 100vh;
  //ヘッダー
  .header {
    background-color: #3ccace;
    height: 100px;
    align-items: center;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    //タイトル
    &__left-navi {
      &__text {
        font-size: 30px;
        font-weight: bold;
        font-style: italic;
        text-decoration: none;
        color: #fff;
        text-shadow: 1px -1px 1px #bdbdbd, -1px 2px 1px #737272,
          -2px 4px 1px #767474, -3px 6px 1px #787777;
      }
    }
    //メニュー
    &__right-navi {
      &__box {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin-left: 15px;
        text-decoration: none;
      }
    }
  }
  //記事一覧
  .main-content {
    background-color: #fff;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    h2 {
      margin-bottom: 20px;
      padding: 25px 0 0 25px;
      font-size: 20px;
      font-weight: bold;
    }
    &__article {
      padding-left: 10px;
      border-top: 1px solid #eeeeee;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      &__detail {
        color: #3ccace;
        text-decoration: none;
      }
    }
  }
}
